# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/public/*
!/public/Cesium/
/public/Cesium/*
!/public/Cesium/Assets/
!/public/Cesium/Widgets/
!/public/Cesium/ThirdParty/
!/public/Cesium/Workers/


# Node modules
node_modules/
.env
.env.*.local